@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply bg-white dark:bg-gray-950;

	@media (prefers-color-scheme: dark) {
		color-scheme: dark;
	}
}


:root  {
  --background: 262 100% 95%;
  --foreground: 262 5% 10%;
  --card: 262 50% 90%;
  --card-foreground: 262 5% 15%;
  --popover: 262 100% 95%;
  --popover-foreground: 262 100% 10%;
  --primary: 262 26.3% 38.8%;
  --primary-foreground: 0 0% 100%;
  --secondary: 262 30% 73%;
  --secondary-foreground: 0 0% 0%;
  --muted: 224 30% 85%;
  --muted-foreground: 262 5% 40%;
  --accent: 224 30% 80%;
  --accent-foreground: 262 5% 15%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 262 5% 90%;
  --border: 262 30% 73%;
  --input: 262 30% 50%;
  --ring: 262 26.3% 38.8%;
  --radius: 0.3rem;
  .dark  {
    --background: 262 26% 10%;
    --foreground: 262 5% 90%;
    --card: 262 26% 10%;
    --card-foreground: 262 5% 90%;
    --popover: 262 26% 5%;
    --popover-foreground: 262 5% 90%;
    --primary: 262 26.3% 38.8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 262 26% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 224 26% 25%;
    --muted-foreground: 262 5% 65%;
    --accent: 224 26% 25%;
    --accent-foreground: 262 5% 90%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 262 5% 90%;
    --border: 262 26% 50%;
    --input: 262 26% 50%;
    --ring: 262 26.3% 38.8%;
    --radius: 0.3rem;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


@property --border-angle {
	inherits: false;
	initial-value: 0deg;
	syntax: "<angle>";
}
